body {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  background: var(--cream) url(../assets/photos/grid-pattern.png);
  color: var(--black);
  padding: 16px;
  max-width: 856px;
  margin: auto;
}

.photo-profile {
  object-fit: cover;
  overflow: hidden;
  min-width: 60px;
}

.photo-profile img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0;
  border-top: 3px solid var(--black);
}

.nav-options {
  flex-direction: row;
}

.nav-mobile {
  display: none;
}

.container-auth {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .form-auth {
    min-width: 35vw;
  }

  .hero-paragraph {
    max-width: 400px;
    width: 400px;
  }

  .navbar {
    top: 0;
    left: 0;
    right: auto;
    border-top: 0;
    border-right: 3px solid var(--black);
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .nav-options {
    flex-direction: column;
  }

  .nav-mobile {
    display: block;
  }

  .container-auth {
    flex-direction: row;
  }
}
